
table{
    border: 2px solid;
    width: 200px;
    
    margin: 4%;

}
table:hover {
    transform: scale(1.1);
}
table{
    height: auto;
    transition: transform 0.3s ease-in-out;
}

td{
    text-align: left;
    padding-left: 10%;
    padding: 8px;
}

#div1{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    gap: 100px;
}

#div2{
    gap: 0px;
    padding: 10px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* display: flex; */

}

input{
    border: 1px solid black;
}
